<% if flash[:notice].present? %>
    <%=  flash[:success] %>
<%end%>
<div class="pull-right">
    <%= link_to "logout",  destroy_admin_session_path, method: :delete %>
</div>

<table class = "table table-bordered userInfo" >
  <thead>
  <tr>
    <th> Geek Name</th>
    <th> Geek Email</th>
    <th>Team Name </th>
    <th> Created At </th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user|%>
      <tr>
        <td><%= link_to user.name, user_details_admin_path(user)  %></td>
        <td><%=user.email  %></td>
        <%if user.team_name.present? %>
            <td><%=user.team_name  %></td>
        <%else%>
            <td>Individual</td>
        <%end%>

        <td><%=user.created_at.strftime("%d %b. %Y") %> </td>
      </tr>
  <%end%>
  </tbody>
</table>

