<% if flash[:notice].present? %>
    <%=  flash[:success] %>
<%end%>
<div class="pull-right">
    <%= link_to "logout",  destroy_admin_session_path, method: :delete %>
</div>

<table class = "table table-bordered userInfo" >
  <thead>
  <tr>
    <th> User </th>
    <th> Team Name</th>
    <th>Team Members </th>
    <th> Description </th>
    <th> Created At </th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user|%>
      <tr>
        <td><%=user.email  %></td>
        <%if user.team_name.present? %>
            <td><%=user.team_name  %></td>
        <%else%>
            <td>Individual</td>
        <%end%>
        <% if user.secondary_users.present?%>
            <td>
            <%user.secondary_users.each do |secondary_user|%>
               <%= secondary_user.email  %></br/>
            <%end %>
            </td>
        <%else%>
            <td>Not Applicable</td>
        <%end%>
        <% if user.description.present? %>
            <td><%= user.description  %></td>
        <% else %>
            <td> </td>
         <% end %>
        <td><%=user.created_at.strftime("%d %b. %Y") %> </td>
      </tr>
  <%end%>
  </tbody>
</table>

