<section class='geekImage'>
  <div class='johnyCoder'>
      <div class='johnyCoderHeading'>
        <span class='johnyCoderLogoCont'>
          <i class='johnyCoderLogo'></i>
        </span>
        <span class='text'>
          JohnNie CODER
        </span>
      </div>
      <div class='enterTheWorld'>
        <h3>
          Enter the world of Johnnie Coder
        </h3>
        <h4>
          Oh Geek, When did you say ' Hello World' ?
        </h4>
        <h5>
          (if you didn’t get it, nevermind, just enter your D.O.B.)
        </h5>
        <form class="dobForm" id="dateForm">
          <ul>
            <li>
              <%= select_tag 'DD', options_for_select((1..31)), :prompt => "DD", :id => "day"%>
            </li>
            <li>
              <%= select_tag 'MM', options_for_select((1..12)), :prompt => "MM", :id => "month" %>

            </li>
            <li>
              <%= select_tag 'YYYY', options_for_select((1940..2014)), :prompt => "YYYY" , :id => "year",:class => "year"%>
            </li>
            <li class="clear"></li>
          </ul>
          <div id="dateErrorMsg"></div>
          <input type="submit" class="btn enter" value="Enter">
        </form>
      </div>
  </div>
  <div class="landingPage">
    <div class="eventWrapper">
      <div class="geekLogo absolute"></div>
      <div class="eventDetails">
        <div class="geekLogo"></div>
        <div class="info">
          <h4>6<sup>th</sup> Sep 2014, Pune, India @ weboniselab</h4>
          <p>
            Geek hours is a Hackathon event organised by Webonise Lab. Developers/ Designers from all over the Pune gather for a day to build something useful &amp; opensource.
          </p>
          <div class="buttons">
            <a href="#" class="btn register">Register</a>
            <a href="#" class="btn tBtn gallery">Geek hours 2013 Gallery</a>
          </div>
        </div>
      </div>
    </div>
    <div class="johnnieCoder"></div>
    <div class="footer">
      <a href="http://webonise.com" class="weboniseLogo"></a>
      <div class="copy">Copyright &copy; 2014 Geekhours</div>
    </div>
    <div class="registerWrapper">
      <a href="#" class="cross"></a>
      <div class="scrollWrapper">
        <div class="registerInner">
          <div class="heading">
            <span>Register for</span>
            <span class="logo"></span>
            <span>@ Webonise</span>
            <div class="clear"></div>

            <div class="flashnotice">
              <% if flash[:notice].present? %>
                  <h5> <%=  flash[:notice] %></h5>
              <% end %>
            </div>
          </div>  
          <div class="registerForm">
            <%= form_for @user, :method => :post, :remote => true do |f| %>
              <% if @user.errors.full_messages.any? %>
                  <% @user.errors.full_messages.each do |error_message| %>
                      <%= error_message if @user.errors.full_messages.first == error_message %>
                  <% end %>
              <% end %>
              <%= f.text_field :name, :placeholder=>"Name" %>
              <%= f.text_field :email, :placeholder=>"Email"  %>

              <%= f.fields_for :secondary_users, {:index => 1} do |sf| %>
                <%= sf.text_field :name, :placeholder=>"Member #{sf.options[:index]}" %>
                <% sf.options[:index] += 1  %>
              <% end %>
              <%= f.text_area :description,:placeholder=>"Tell us about your idea & your self..." %>

              <%= f.submit "Register",:class=>"btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="galleryWrapper">
      <a href="#" class="cross"></a>
      <div class="scrollWrapper">
        <div class="galleryInner">
          <div class="heading">Take a peek @ Geek Hours Aug-2013</div>
          <div id="slideshow-1">
            <div id="cycle-1" class="cycle-slideshow"
                data-cycle-slides="> div"
                data-cycle-timeout="0"
                data-cycle-prev=".cycle-prev"
                data-cycle-next=".cycle-next"
                data-cycle-caption-template="Slide {{slideNum}} of {{slideCount}}"
                data-cycle-fx="fadeIn"
                >
                <div><img src="assets/img1.jpg"></div>
                <div><img src="assets/img2.jpg"></div>
                <div><img src="assets/img3.jpg"></div>
                <div><img src="assets/img4.jpg"></div>
                <div><img src="assets/img5.jpg"></div>
                <div><img src="assets/img6.jpg"></div>
                <div><img src="assets/img7.jpg"></div>
                <div><img src="assets/img8.jpg"></div>
                <div><img src="assets/img9.jpg"></div>
                <div><img src="assets/img10.jpg"></div>
            </div>
          </div>

          <div id="slideshow-2">
              <div id="cycle-2" class="cycle-slideshow"
                  data-cycle-slides="> div"
                  data-cycle-timeout="0"
                  data-cycle-caption-template="Slide {{slideNum}} of {{slideCount}}"
                  data-cycle-fx="carousel"
                  data-cycle-carousel-visible="5"
                  data-cycle-carousel-fluid=true
                  data-allow-wrap="false"
                  >
                  
                <div><img src="assets/img1.jpg"></div>
                <div><img src="assets/img2.jpg"></div>
                <div><img src="assets/img3.jpg"></div>
                <div><img src="assets/img4.jpg"></div>
                <div><img src="assets/img5.jpg"></div>
                <div><img src="assets/img6.jpg"></div>
                <div><img src="assets/img7.jpg"></div>
                <div><img src="assets/img8.jpg"></div>
                <div><img src="assets/img9.jpg"></div>
                <div><img src="assets/img10.jpg"></div>
              </div>

              <p>
                  <a href="#" class="cycle-prev">&laquo; prev</a><a href="#" class="cycle-next">next &raquo;</a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
      var username = new LiveValidation( 'user_name', {onlyOnSubmit: true } );
      username.add( Validate.Presence,{failureMessage:"Name can not be empty."}  );
      var email = new LiveValidation( 'user_email', {onlyOnSubmit: true } );
      email.add( Validate.Presence,{failureMessage:"Email can not be empty."}  );
      email.add(Validate.Email);
      var description = new LiveValidation( 'user_description', {onlyOnSubmit: true } );
      description.add( Validate.Presence,{failureMessage:"Description can not be empty."});

//      $("#new_user").on("submit",function(event){
//            event.preventDefault();
//            if ($(".LV_invalid").length > 0) {
//                return false;
//            }
//            else {
//                $.post($(event).attr('action'), $(event).serialize(), null, "script");
//            }
//        });
  });
</script>