<a href="" class="downArrow active"></a>
<div id="pagepiling">
          <div class="section section1">
            <h2 class="rightHeading">Many villagers don’t have <br>basic necessities</h2>
          </div>
          <div class="section section2">
            <h2 class="rightHeading">Thousands of people become <br>victims of natural disasters</h2>
          </div>
          <div class="section section3">
            <h2 class="rightHeading">Hundreds of farmers are still <br>committing suicides.</h2>
          </div>
          <div class="section section4">
            <h2 class="centerHeading">it's time to assemble!</h2>
          </div>
          <div class="section section5">
            <div class="outer">
              <h2 class="centerHeading">it's time to assemble!</h2>
            </div>
            <div class="outer">
              <div class="codersLogo"></div>
            </div>
            <div class="bottomContent">
              <div class="ghLogo"></div>
              <div class="inner"> 
                <div class="heading">17<sup>th</sup> OCT 2015, Pune, India @ webonise</div>
                <div class="desc">Geek hours is a Hackathon event organised by Webonise. Developers/ Designers from all over Pune gather for a day to build something useful &amp; opensource.</div>
              </div>
              <div class="buttons">
                <a href="#" class="registerBtn linkButton" data-target=".registerWrap">Register</a>
                <a href="#" class="galleryBtn linkButton" data-target=".galleryWrap">Geek Hours Gallery</a>
              </div>
            </div>
            <div class="copy">
              <a href="http://webonise.com" target="_blank" class="weboLogo"></a>
              <div class="text">Geekhours &copy; 2015</div>
            </div>

            <div class="registerWrap">
              <a href="#" class="close icon-close"></a>
                <div class="dispTable">
                    <div class="dispTableCell">
                        <div class="regFormWrap">
                            <h3 class="sideBarHeading text-center"><span>Register for</span> <i class="icon-geekhour"></i> <span>@ Webonise</span></h3>
                            <%= form_for @user, :method => :post, :remote => true do |f| %>
                              <% if @user.errors.full_messages.any? %>
                                  <% @user.errors.full_messages.each do |error_message| %>
                                      <%= error_message if @user.errors.full_messages.first == error_message %>
                                  <% end %>
                              <% end %>
                                <div class="form-group">
                              <%= f.text_field :name, :placeholder=>"Name", :class=>"form-control customInput" %>
                                </div>
                                <div class="form-group">
                              <%= f.text_field :email, :placeholder=>"Email", :class=>"form-control customInput"  %>
                                </div>
                              <% index = 1%>
                              <%= f.fields_for :secondary_users do |sf| %>
                                <div class="form-group">
                                <%= sf.text_field :name, :placeholder=>"Name of Member #{index}", :class=>"form-control customInput" %>
                                <% index += 1  %>
                                </div>
                              <% end %>
                                <div class="form-group">
                              <%= f.text_area :description,:placeholder=>"Tell us about your idea for Geek Hours & your self...", :class=>"form-control customInput" %>

                                </div>
                                <div class="form-group btnSubmitWrap">
                              <%= f.submit "Register",:class=>"btn btnSubmit" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="galleryWrap">
                <a href="#" class="close icon-close"></a>
                <div class="dispTable">
                    <div class="dispTableCell">
                        <div class="galleryListWrap">
                            <h3 class="sideBarHeading"><span>Take a peek @Geek Hours Sep-2014</span></h3>
                            <div class="galleryInner">
                                <div id="slideshow-1">
                                    <div id="cycle-1" class="cycle-slideshow"
                                         data-cycle-slides="> div"
                                         data-cycle-timeout="0"
                                         data-cycle-prev=".cycle-prev"
                                         data-cycle-next=".cycle-next"
                                         data-cycle-caption-template="Slide {{slideNum}} of {{slideCount}}"
                                         data-cycle-fx="fadeIn"
                                            >
                                        <div><iframe width="537" height="350" src="//www.youtube.com/embed/DxWZ0A0zCnQ" frameborder="0" allowfullscreen></iframe></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img2.jpg"></div>

                                        <div><img src="http://geekhours.weboniselab.com/assets/img3.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img4.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img5.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img6.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img7.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img8.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img9.jpg"></div>
                                        <div><img src="http://geekhours.weboniselab.com/assets/img10.jpg"></div>
                                    </div>
                                </div>

                                <div id="slideshow-2">
                                    <div id="cycle-2" class="cycle-slideshow"
                                         data-cycle-slides="> div"
                                         data-cycle-timeout="0"
                                         data-cycle-caption-template="Slide {{slideNum}} of {{slideCount}}"
                                         data-cycle-fx="carousel"
                                         data-cycle-carousel-visible="5"
                                         data-cycle-carousel-fluid=true
                                         data-allow-wrap="false"
                                            >
                                        <div class="innerSlide">
                                            <img src="https://i.ytimg.com/vi/DxWZ0A0zCnQ/sddefault.jpg">
                                            <i class="icon-play-small"></i>
                                        </div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img2.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img3.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img4.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img5.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img6.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img7.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img8.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img9.jpg"></div>
                                        <div class="innerSlide"><img src="http://geekhours.weboniselab.com/assets/img10.jpg"></div>
                                    </div>
                                    <p>
                                        <a href="javascript:void(0)" class="cycleArrow cycle-prev">&laquo; prev</a>
                                        <a href="javascript:void(0)" class="cycleArrow cycle-next">next &raquo;</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
<script>
  $(document).ready(function(){
      var username = new LiveValidation( 'user_name', {onlyOnSubmit: true } );
      username.add( Validate.Presence,{failureMessage:"Name can not be left blank."}  );
      var email = new LiveValidation( 'user_email', {onlyOnSubmit: true } );
      email.add( Validate.Presence,{failureMessage:"Email can not be left blank."}  );
      email.add(Validate.Email);
      var description = new LiveValidation( 'user_description', {onlyOnSubmit: true } );
      description.add( Validate.Presence,{failureMessage:"Please share your idea, it can not be left blank."});

//      $("#new_user").on("submit",function(event){
//            event.preventDefault();
//            if ($(".LV_invalid").length > 0) {
//                return false;
//            }
//            else {
//                $.post($(event).attr('action'), $(event).serialize(), null, "script");
//            }
//        });
  });
</script>