<h3>Registration Form</h3>

<%= form_for @user do |f| %>

    <%= f.label :Name, 'Name' %>
    <%= f.text_field :name %><br />
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %><br />

    <%= link_to "Create Team", "javascript:void(0)", :class=>"createTeam" %>

    <Div id="teamWrapper" style="display: none" class="clearfix">
      <%= f.label :team_name, 'Team Name' %>
      <%= f.text_field :team_name %><br />
      <%= f.fields_for :secondary_users do |sf| %>
          <div class="control-group">
          <%= sf.label :name, 'Name',:class=>"control-label" %>
            <div class="controls">
          <%= sf.text_field :name %>
              </div>
            </div>
          <div class="control-group">
          <%= sf.label :email, 'Email',:class=>"control-label" %>
            <div class="controls">
          <%= sf.text_field :email %><br />
              </div>
          </div>
          <div class="control-group">
            <%= sf.label :name, 'Name',:class=>"control-label" %>
            <div class="controls">
              <%= sf.text_field :name %>
            </div>
          </div>
          <div class="control-group">
            <%= sf.label :email, 'Email',:class=>"control-label" %>
            <div class="controls">
              <%= sf.text_field :email %><br />
            </div>
          </div>

      <% end %>
    </Div> <br/>

    <%= show_simple_captcha %>
    <%= f.submit "Submit",:class=>"btn btn-primary" %>

<% end %>

<%= content_for :head do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".createTeam").live("click", function(){
                $("#teamWrapper").show();
            });
        });
    </script>
<%end%>

