<h3>Registration Form</h3>

<%= form_for @user do |f| %>

    <%= f.label :Name, 'Name' %>
    <%= f.text_field :name %><br />
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %><br />

    <%= link_to "Create Team", "javascript:void(0)", :class=>"createTeam" %>

    <Div id="teamWrapper" style="display: none" class="clearfix">
      <%= f.label :team_name, 'Team Name' %>
      <%= f.text_field :team_name %><br />
      <%= f.fields_for :secondary_users do |sf| %>
          <%= sf.label :name, 'Name',:class=>"control-label" %>
          <%= sf.text_field :name %>
          <%= sf.label :email, 'Email',:class=>"control-label" %>
          <%= sf.text_field :email %><br />
          <%= sf.label :name, 'Name',:class=>"control-label" %>
          <input  name="user[secondary_users_attributes][1][name]">
          <%= sf.label :email, 'Email',:class=>"control-label" %>
          <input name="user[secondary_users_attributes][1][name]">

      <% end %>
    </div>


    <%= show_simple_captcha %>
    <%= f.submit "Submit",:class=>"btn btn-primary" %>

<% end %>

<%= content_for :head do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".createTeam").live("click", function(){
                $("#teamWrapper").show();
            });
        });
    </script>
<%end%>

