<h3>Registration Form</h3>

<%= form_for @user do |f| %>

    <%= f.label :Name, 'Name' %>
    <%= f.text_field :name %><br />
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %><br />

    <%#= link_to "Create Team", "javascript:void(0)", :class=>"createTeam" %>

    <div id="teamWrapper"  class="clearfix">
      <div class="create-team-content">
          <%= f.label :team_name, 'Team Name' %>
          <%= f.text_field :team_name %><br />
        <ul class="team-content">
          <%= f.fields_for :secondary_users do |sf| %>

              <li>
              <div class="name-field">
                  <%= sf.label :name, 'Name',:class=>"control-label" %>
                  <%= sf.text_field :name %>
              </div>
              <div class="email-field">
                  <%= sf.label :email, 'Email',:class=>"control-label" %>
                  <%= sf.text_field :email %>

              </div>
                <%= link_to "add","javascript:void(0)",:class=>"addUser" %>
                <%= link_to "delete","javascript:void(0)",:class=>"deleteUser" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="catchaCnt">
    <%= show_simple_captcha %>
     </div>
    <%= f.submit "Submit",:class=>"btn btn-primary" %>

<% end %>

<%= content_for :head do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".createTeam").live("click", function(){
                $("#teamWrapper").show();
            });
            $(".team-content li a.addUser").click(function(){
              $(this).parents("li").next().show();
            });
            $(".team-content li a.deleteUser").click(function(){
                $(this).parents("li").hide();
            });
        });
    </script>
<%end%>

